* {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
}

body {
  background: linear-gradient(to right, #141e30, #243b55);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 75vh;
}
.landing h1 {
  font-size: 3rem;
}
.special {
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar {
  margin-top: 2rem;
  background-color:#243B55;
  padding: 0.9rem 2rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  border-radius: 30px;
  border: 2px solid rgb(45, 67, 100);
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: white; 
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}
.icon {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.icon img {
  width: 2vw;
  height: 3.8vh;
  padding: 0.5rem;
  background-color: #141e30;
  border-radius: 30px;
}
.icon img:hover {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}
.gradientButton a {
  text-decoration: none;
}
.Location {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.Location h5 {
  font-weight: 400;
}
.aboutme {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  gap: 6rem;
}
.desc {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 47%;
  letter-spacing: 1px;
}

.name h4 {
  font-weight: 500;
  color: #6e92d6;
}
.myname {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.contribution {
  margin: 2rem 8.5rem;
}
.contribution h4 {
  font-weight: 400;
  margin-bottom: 0.7rem;
  color: #6e92d6;
}

.role h4 {
  color: #6e92d6;
  font-weight: 400;
}
.expert {
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.campus h4 {
  color: #6e92d6;
  font-weight: 400;
  margin-bottom: 0.7rem;
}
.Skill h2 {
  text-align: center;
  color: #6e92d6;
  margin-block: 1rem;
}
.tech {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}
.tech img {
  width: 4vw;
  height: 8vh;
  padding: 0.8rem;
  background-color: #141e30;
  border-radius: 15px;
}
.tech img:hover {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}
.certificate {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 4rem;
  row-gap: 2rem;
}
.certificate img {
  width: 25vw;
  height: 35vh;
  cursor: pointer;
}
