* {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
}

body {
  background: linear-gradient(to right, #141e30, #243b55);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.Welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 75vh;
}
.Welcome h1 {
  font-size: 2.4rem;
}
.Welcome button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  border-radius: 30px;
  border: 1px solid transparent;
  background: #243B55;
  cursor: pointer;
  min-width: 200px;
  box-sizing: border-box;
}

.Welcome button:hover {
  background: transparent;
  border: 1px solid white;
  transition: 0.5s;
}
.special {
  background: linear-gradient(to right, #1c92d2, #f2fcfe);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar {
  margin-top: 2rem;
  background-color:#243B55;
  padding: 0.9rem 2rem;
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-inline: auto;
  border-radius: 30px;

}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.navbar li a {
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: white; 
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}
.icon {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.icon img {
  width: 2vw;
  height: 3.8 vh;
  padding: 0.5rem;
  background-color: #141e30;
  border-radius: 30px;
}